{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Liste des utilisateurs{% endblock %}


{% block body %}

<div class="content1">
    <h2>Gérer les utilisateurs</h2>
    <table>
        <thead>
        <tr class="activityLine">
            <td>Utilisateurs</td>


            <td>Actions</td>
        </tr>
        </thead>
        <tbody>

{% for user in users %}
    <tr>
        <td>
            <a href="{{ path('user_profil',{'id' : user.id})  }}">
                {{ user.lastname }}
                {{ user.firstname }}
            </a>


        </td>

    <td>

        <a class="link_button" href="{{ path('admin_disableUser', {'id' : user.id}) }}"

           {% if user.isAllowed %}
           onclick="return confirm('Désactiver les droits de l\'utilisateur {{ user.lastname }}  {{ user.firstname}} ?')">Désactiver</a>
            {% else %}
                onclick="return confirm('Réactiver les droits de l\'utilisateur {{ user.lastname }}  {{ user.firstname}} ?')">Réactiver</a>
            {% endif %}


        <a class="link_button" href="{{ path('admin_removeUser', {'id': user.id}) }}"
           onclick="return confirm('Etes vous sur de vouloir supprimer l\'utisateur {{ user.lastname }} {{ user.firstname}}?')">Supprimer</a>
    </td>
</tr>
{% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}