{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="createUser">
    <h2 class="createTitle">Création utilisateur</h2>

    {{ form_start(registrationForm) }}

    <div class="formCreate">
        {{ form_row(registrationForm.nickname) }}
        {{ form_row(registrationForm.lastname) }}
        {{ form_row(registrationForm.firstname) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.phone) }}

        {{ form_row(registrationForm.password) }}
        {{ form_row(registrationForm.campus) }}
    </div>
        <button id="btnCreateU" type="submit" class="btn">Inscription</button>

    {{ form_end(registrationForm) }}

</div>
{% endblock %}
