{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Home{% endblock %}

{% block body %}
    <div class="box">

        <table class="table">
            <thead class="head">

            <tr>
                <td>Nom de la sortie</td>
                <td>Date de la sortie</td>
                <td>Clôture</td>
                <td>Inscrits/Places</td>
                <td>Etat</td>
                <td>Inscrit</td>
                <td>Organisateur</td>
                <td>Actions</td>
            </tr>
            </thead>

            <tbody class="down">
            {% for activity in activities %}
                <tr>
                    <td>{{ activity.name }}</td>
                    <td>{{ activity.startingDateTime  | date('d-m-Y H:i') }}</td>
                    <td>{{ activity.registrationDeadLine  | date('d-m-Y') }}</td>
                    <td> / {{ activity.maxRegistrationNb }}</td>
                    <td>{{ activity.status.type }}</td>
                    <td>{{ activity.status.type }}</td>
                    <td>{{ activity.user.nickname }}</td>
                    <td>

                        {% if activity.user.id == app.user.id %}
                            <a href="{{ path('activity_update', {'id': activity.id}) }}">Modifier</a>
                            <a>Publier</a>
                        {% else %}
                            <a>Afficher</a>
                            <a>S'inscrire</a>
                            <a>Se désister</a>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <a>Annuler</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <a href="{{ path('activity_add') }}"><button>Créer une sortie</button></a>

{% endblock %}
