{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Home{% endblock %}


 {% block js %}
     <script>

         let buttonIsRegistered = document.getElementById('filter_isRegistered')
         let buttonIsNotRegistered = document.getElementById('filter_isNotRegistered')

         buttonIsRegistered.addEventListener('click', function() {
            buttonIsNotRegistered.checked=false
         })

         buttonIsNotRegistered.addEventListener('click', function() {
             buttonIsRegistered.checked=false
         })

     </script>

 {% endblock %}

{% block body %}
    <h2 class="title">Filtrer les sorties</h2>

    {{ form_start(filterForm) }}
    <div class="form">

        {{ form_row(filterForm.campus) }}
        {{ form_row(filterForm.search) }}
        {{ form_row(filterForm.startingDateTime) }}
        {{ form_row(filterForm.endingDateTime) }}

    </div>

    <div class="form">

        {{ form_row(filterForm.isOrganiser) }}
        {{ form_row(filterForm.isRegistered) }}
        {{ form_row(filterForm.isNotRegistered) }}
        {{ form_row(filterForm.availableActivity) }}

        {{ form_rest(filterForm) }}

    </div>

    <div>
        <button type="submit">Rechercher</button>
    </div>

    {{ form_end(filterForm) }}

    <div class="box">

        <table>
            <thead class="head">

            <tr>
                <td>Activité</td>
                <td>Date</td>
                <td>Clôture</td>
                <td>Inscrits/Places</td>
                <td>Etat</td>
                <td>Inscrit</td>
                <td>Organisateur</td>
                <td>Actions</td>
            </tr>
            </thead>

            {% set userRole = '' %}
            {% set adminRole = 'ROLE_ADMIN' %}

            {% for role in  app.user.roles %}
                {% set userRole = role %}
            {% endfor %}


            <tbody class="down">

            {% for activity in activities %}

                <tr class="activityLine">
                    <td>{{ activity.name }}</td>
                    <td>{{ activity.startingDateTime  | date('d/m/Y H:i') }}</td>
                    <td>{{ activity.registrationDeadLine  | date('d/m/Y ') }}</td>
                    <td>{{ activity.users | length }} / {{ activity.maxRegistrationNb }}</td>
                    <td>{{ activity.status.type }}</td>
                    <td>
                        {% if activity.users.contains(app.user) %}
                            X
                        {% endif %}
                    </td>
                    <td><a href="{{ path('user_profil', {'id': activity.user.id}) }}">{{ activity.user.nickname }}</a>
                    </td>
                    <td>
                        {% if activity.user.id == app.user.id %}
                            {% if activity.status.type == ('Créée' or 'Ouverte') %}
                                <a href="{{ path('activity_update', {'id': activity.id}) }}">Modifier</a>
                            {% endif %}
                            {% if activity.status.type == 'Créée' %}
                                <a>Publier</a>
                            {% endif %}
                        {% else %}
                            <a href="{{ path('activity_show', {'id': activity.id}) }}">Afficher</a>
                            {% if activity.users.contains(app.user) and date('now') < activity.startingDateTime %}
                                <a href="{{ path('activity_unregister', {'id': activity.id}) }}">Se désister</a>
                            {% elseif (activity.users | length) < activity.maxRegistrationNb and activity.status.type == 'Ouverte' and date('now') < activity.registrationDeadLine %}
                                <a href="{{ path('activity_register', {'id': activity.id}) }}">S'inscrire</a>
                            {% endif %}
                        {% endif %}
                        {% if (activity.user.id == app.user.id or userRole == adminRole) and activity.status.type == 'Ouverte' and (activity.users | length) == 0 %}
                            <a href="{{ path('activity_canceled', {'id': activity.id}) }}">Annuler</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <a href="{{ path('activity_add') }}">
        <button>Créer une sortie</button>
    </a>

{% endblock %}
