{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Campus{% endblock %}

{% block body %}



    <div class="content1">
        <h1>Gérer les Campus</h1>
        <table>
            <thead>
            <tr class="activityLine">
                <td>Campus</td>
                <td>Actions</td>
            </tr>
            </thead>
            <tbody>
            {% for campus in campuses %}
                <tr>
                    <td>
                        {% if isUpdate == true and campus.id == id %}
                            {{ form_start(campusForm2.name) }}
                            {{ form_widget(campusForm2.name) }}
                            <button type="submit">Enregistrer</button>
                            {{ form_end(campusForm2.name) }}
                        {% else %}
                            {{ campus.name }}
                        {% endif %}
                    </td>
                    <td>
                        <a class="link_button" href="{{ path('admin_update', {'id' : campus.id}) }}"
                           onclick="return confirm('Changer le nom du campus : {{ campus.name }}')">Modifier</a>
                        <a class="link_button" href="{{ path('admin_remove', {'id': campus.id}) }}"
                           onclick="return confirm('Etes vous sur de vouloir supprimer le campus : {{ campus.name }}')">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td>
                    {{ form_start(campusForm.name) }}
                    {{ form_widget(campusForm.name) }}
                </td>
                <td>
                    <button type="submit">Ajouter</button>
                    {{ form_end(campusForm.name) }}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
