{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Page administrateur {% endblock %}

{% block body %}

    <h2 class="dashboard">Bonjour {{ app.user.nickname }} ! </h2>

    <div class="iconAdmin">

        <a id="icon1" href="{{ path('admin_userList') }}">
            <i  class="fa-solid fa-users"></i></a>
        <div class="user">
            <p> Gérer les utilisateurs </p>
        </div>
        <br>
        <a id="icon2" href="{{ path('admin_campus_list') }}">
            <i  class="fa-solid fa-school"></i></a>
        <div class="campus">
            <p> Gérer les campus</p>
        </div>
        <br>
        <a id="icon3" href="{{ path('admin_city_display') }}">
            <i class="fa-solid fa-location-dot"></i></a>
        <div class="city">
            <p>Gérer les villes</p>
        </div>
        <br>
        <a id="icon4" href="{{ path('activity_home') }}">
            <i  class="fa-solid fa-table-tennis-paddle-ball"></i></a>
        <div class="activity">
            <p>Gérer les activités</p>
        </div>
    </div>
{% endblock %}
