{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Lieux {% endblock %}

{% block body %}

    <h1>Ajouter un nouveau lieu</h1>

    {{ form_start(locationForm) }}

    <div class="form">

        {{ form_label(locationForm.name) }}
        {{ form_widget(locationForm.name) }}
        {{ form_errors(locationForm.name) }}
    </div>


    {{ form_rest(locationForm) }}

    <button>Ajouter le lieu</button>
    <a href="{{ path('activity_add') }}">Annuler</a>

    {{ form_end(locationForm) }}

{% endblock %}



