{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Activités {% endblock %}

{% block body %}
    <h2>
        {% if activity.id == null %}
            Créer une sortie
            {% else %}
            Modifier une sortie
        {% endif %}
    </h2>
    {{ form_start(activityForm) }}

    <div class="form">

    <div>{{ form_row(activityForm.name) }}</div>
    <div>{{ form_row(activityForm.startingDateTime) }}</div>
    <div>{{ form_row(activityForm.registrationDeadLine) }}</div>
    <div>{{ form_row(activityForm.maxRegistrationNb) }}</div>
    <div>{{ form_row(activityForm.duration) }}</div>
    <div>{{ form_row(activityForm.overview) }}</div>
    <div>{{ form_row((activityForm.campus)) }}</div>
    <div>{{ form_row((activityForm.city)) }}</div>


        {% block js%}
        {#affichage dynamique : au sélect de ma ville, affiche les lieux qui lui appartiennent#}
        {%  endblock %}

        <div>{{ form_row(activityForm.location) }}</div>

        <div>
            <a class="" href="{{ path('location_add') }}"
               onclick="return confirm('Voulez-vous ajouter un nouveau lieu ?')">Ajouter un lieu</a>
        </div>

    <a href="{{ path('activity_home') }}">Annuler</a>

        <div>

            {% if activity.id != null %}

                <a class="" href="{{ path('activity_remove', {'id': activity.id})}}"
                   onclick="return confirm('Etes-vous sûr de de vouloir supprimer cette sortie ?')">Supprimer cette sortie</a>

            {% endif %}
        </div>

    {{ form_end(activityForm) }}

{% endblock %}