{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Activités {% endblock %}

{% block js %}
    <script>

        let selectCity = document.getElementById('activity_city')
        let selectLocation = document.getElementById('activity_location')


        selectCity.addEventListener('change', function(element) {
            let cityId = selectCity.value;
            console.log(cityId);
            if (cityId != null)

                function createNode(element) {
                    return document.createElement(element);
                }

            function append(parent, el) {
                return parent.appendChild(el);
            }

            const selectLocation = document.getElementById('activity_location');
            const url = `http://localhost/sortir/public/api/location/city/${cityId}`;

            fetch(url)
                .then((resp) => resp.json())
                .then(function (resp) {
                    let locations = resp;
                    selectLocation.remove(selectLocation.childNodes)
                    return locations.map(function (location) {
                        let newOption = createNode('option');
                        newOption.innerHTML = location.name
                        newOption.value = location.id
                        // selectLocation.options.add (newOption);
                        append(selectLocation, newOption);
                    })
                })
                .catch(function (error) {
                    console.log(error);
                });
        })

            // {

        {#        #}{#let test = "{{ path('api_location_retrieve_by_cityId', {'id' : }) }}/" + 2;#}
        {#        #}{#let test = "{{ path('api_location_retrieve_by_cityId', {'id' : cityId }) }}" ;#}
        {#        #}{#console.log(test);#}
        {#        #}{#let url = Routing.generate('api_location_retrieve_by_cityId', {'id' : cityId});#}

        {#    //appel asynchrone#}
        //     fetch(window.location.href=`http://localhost/sortir/public/api/location/city/${cityId}`
        {#        , {method: 'GET', headers: {#}
        {#                'Accept': 'application/json'#}
        {#            }#}
        {#    }#}
        {#    )#}
        {#        .then(response => response.json())#}
        {#        // .then(response => JSON.stringify(response))#}
        {#        .then(function (data) {#}
        {#            let arrayLocation = data.results#}
        {#            let selectLocation = document.getElementById ("activity_location")#}
        {#            return arrayLocation.map(function (Location) {#}
        {#                let newOption = new Option (Location.name, Location.id);#}
        {#                selectLocation.options.add (newOption);#}
        {#            })#}
        {#        })#}
        {#        // console.log(response)#}
        {#        //#}
        {#        // let array = [{"id":115,"name":"Laure Caron","street":"855, chemin Beno\u00eet Fontaine","latitude":-62.183813,"longitude":-148.150155},{"id":151,"name":"zrsdfvxcw","street":"jrthsd","latitude":25741,"longitude":68325714}]#}
        {#        //#}
        {#        // let selectLocation = document.getElementById ("activity_location");#}
        {#        // for(let i=0;i<array.length;i++){#}
        {#        //     let newOption = new Option (array[i].name, array[i].id);#}
        {#        //     selectLocation.options.add (newOption);#}
        {#        // }#}
        {#        // console.log(array[0].id);#}
        {#        // console.log(array.length);#}

        {#    }#}

        {#})#}

    </script>

{% endblock %}

{% block body %}
    <h2>
        {% if activity.id == null %}
            Créer une sortie
            {% else %}
            Modifier une sortie
        {% endif %}
    </h2>
    {{ form_start(activityForm) }}

    <div class="form">

        <div>{{ form_row(activityForm.name) }}</div>
        <div>{{ form_row(activityForm.startingDateTime) }}</div>
        <div>{{ form_row(activityForm.registrationDeadLine) }}</div>
        <div>{{ form_row(activityForm.maxRegistrationNb) }}</div>
        <div>{{ form_row(activityForm.duration) }}</div>
        <div>{{ form_row(activityForm.overview) }}</div>
        <div>{{ form_row((activityForm.campus)) }}</div>
        <div>{{ form_row((activityForm.city)) }}</div>

        <div>
            <label for="activity_location">Lieu : </label>
            <select id="activity_location"></select>
        </div>

        <div>
            <a class="" href="
            {% if activity.id == null %}
                {{ path('location_add') }}
            {% else %}
                {{ path('location_update_add', {'id': activity.id}) }}
            {% endif %}
            " onclick="return confirm('Voulez-vous ajouter un nouveau lieu ?')">Ajouter un lieu</a>
        </div>

        <a href="{{ path('activity_home') }}">Annuler</a>

        <div>

            {% if activity.id != null %}

                <a class="" href="{{ path('activity_remove', {'id': activity.id})}}"
                   onclick="return confirm('Etes-vous sûr de de vouloir supprimer cette sortie ?')">Supprimer cette sortie</a>

            {% endif %}
        </div>
    </div>

    {{ form_end(activityForm) }}

{% endblock %}