{% extends 'base.html.twig' %}

{% block title %} {{ parent()}} | Informations sortie {% endblock %}

{% block body %}

    <h2>Informations concernant la sortie</h2>

    <div>
        <h2>Nom de la sortie : {{ activity.name }}</h2>
        <div>Date et heure de la sortie : {{ activity.startingDateTime | date('d-m-Y H:i:s') }}</div>
        <div>Date limite d'inscription: {{ activity.registrationDeadLine | date('d-m-Y') }}</div>
        <div>Nombre de places : {{ activity.maxRegistrationNb }}</div>
        <div>Durée : {{ activity.duration }} minutes</div>

        <div>Description et infos : {{ activity.overview }}</div>
        <div>Campus : {{ activity.campus.name }}</div>
        <div>Lieu : {{ activity.location.name }}</div>
        <div>Rue : {{ activity.location.street }}</div>
        <div>Code postal : {{ activity.location.city.zipCode }} </div>
        <div>Latitude : {{ activity.location.latitude }}</div>
        <div>Longitude : {{ activity.location.longitude }}</div>


        <div>Etat : {{ activity.status.type }}</div>


        <h2>Liste des participants inscrits à cette sortie :</h2>

    </div>

    {% if activity.users | length > 0 %}
        <div class="box1">

            <table>
                <thead class="head">

                <tr>
                    <td>Pseudo</td>
                    <td>Nom</td>
                    <td>Actions</td>
                </tr>
                </thead>

                <tbody class="down">

                {% for user in activity.users %}
                    <tr>
                        <td>{{ user.nickname }}</td>
                        <td> {{ user.lastname }}</td>

                        {% if (user == app.user) %}
                        <td><a class="" href="{{ path('activity_unregister', {'id': activity.id}) }}">Se désister</a></td>
                        {% endif%}

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div>Personne n'est inscrit à cette sortie</div>

    {% endif %}

    {% for user in activity.users %}

        {% if (app.user != user) %}
            <td><a class="" href="{{ path('activity_register', {'id': activity.id}) }}">S'inscrire</a></td>
        {% endif%}

    {% endfor %}

    <a class="" href="{{ path('activity_home') }}">Retour à la liste des sorties</a>


{% endblock %}


