<div class="navy">
    <nav>
        <ul>
            {% if app.user %}
                <div class="list">
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('admin_dashboard') }}">Administrateur</a></li>
                    {% endif %}
                    <li><a href="{{ path('activity_home') }}">Liste des sorties</a></li>
                    <li><a href="{{ path('user_profil', {'id': app.user.id}) }}">Profil</a></li>
                    <li><a href="{{ path('app_logout') }}">Se Déconnecter ({{ app.user.userIdentifier }})</a></li>
                </div>
            {% endif %}

        </ul>
    </nav>
</div>
