<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Sortir{% endblock %}</title>


        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Tilt+Warp&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Fragment+Mono&family=Rampart+One&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rampart+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap-grid.css') }}">
        <link rel="stylesheet" href="{{ asset('css/css.normalize.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="icon" href="{{ asset('assets/icon.png') }}">
    </head>

    <body>

    {% include 'bodyStructure/header/header.html.twig' %}
    <hr>
    <main>

        {# flash messages #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {% block body %}{% endblock %}
    </main>



    <footer>
    {% include 'bodyStructure/footer/footer.html.twig' %}
    </footer>

    </body>
</html>
