{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Lieux {% endblock %}

{% block body %}

    <h2>Ajouter un nouveau lieu</h2>

    {{ form_start(locationForm) }}

    <div class="form">


        {{ form_label(locationForm.name) }}
        {{ form_widget(locationForm.name) }}
        {{ form_errors(locationForm.name) }}
    </div>


    {{ form_rest(locationForm) }}

    <button>Ajouter le lieu</button>
    <button>Annuler</button>

    {{ form_end(locationForm) }}

{% endblock %}



