{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}


{% block body %}

    <div>

        <h1>Profil utilisateur</h1>


     <div>
         {% if app.user.id == user.id %}
             <div>

                 {{ form_start(registrationForm) }}

                 {{ form_row(registrationForm.nickname) }}
                 {{ form_row(registrationForm.lastname) }}
                 {{ form_row(registrationForm.firstname) }}
                 {{ form_row(registrationForm.email) }}
                 {{ form_row(registrationForm.phone) }}
                 {{ form_row(registrationForm.plainPassword, {required: 'false'}) }}

                 <button type="submit" class="btn">Inscription</button>
                 {{ form_end(registrationForm) }}
             </div>

             {% else %}
                 <div> Pseudo : {{ user.nickname }}</div>
                 <div> Prénom : {{ user.firstname }}</div>
                 <div> Nom : {{ user.lastname }}</div>
                 <div> Téléphone : {{ user.phone }}</div>
                 <div> Email : {{ user.email }}</div>


         {%endif%}
     </div>

        <div> Campus : {{ user.campus.name }}</div>
        <div> Photo : faire affichage photo </div>
    </div>


{% endblock %}



