{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} |
{% if app.user.id == user.id %}
    Mon profil
{% else %}
    Profil
{% endif %}
{% endblock %}

{% block body %}

    <div>

        <article>
            <a href="{{ path('user_profil', {'id': user.id }) }}">
                <div class="pp"><img src="{{ asset('assets/img/profilePictures/' ~ user.profilePicture) }}"
                                     alt="{{ user.nickname }}" width="150px"></div>
            </a>
        </article>

        <div class="content">

            {% set userRole = '' %}
            {% set adminRole = 'ROLE_ADMIN' %}

            {% for role in  app.user.roles %}
                {% set userRole = role %}
            {% endfor %}

            {% if app.user.id == user.id or userRole == adminRole %}
                <div class="txt">
                    <h1>
                        {% if app.user.id == user.id %}
                            Mon profil : {{ user.nickname }}
                        {% else %}
                            Profil de {{ user.nickname }}
                        {% endif %}
                    </h1>

                    <div>

                        {{ form_start(registrationForm) }}

                        <div>
                            {{ form_row(registrationForm.nickname) }}
                            {{ form_row(registrationForm.firstname) }}
                            {{ form_row(registrationForm.lastname) }}
                            {{ form_row(registrationForm.phone) }}
                            {{ form_row(registrationForm.email) }}
                        </div>

                            {{ form_row(registrationForm.password, {required: 'false'}) }}

                            {{ form_row(registrationForm.profilePicture, {required: 'false'}) }}

                        <div>Mon campus : {{ user.campus.name }}</div>
                        <br>



                        <button type="submit" class="btn">Enregistrer les modifications</button>
                        {{ form_end(registrationForm) }}
                        {% else %}
                            <div class="txt">
                                <h1>{{ user.nickname }}</h1>
                                <div> Prénom : {{ user.firstname }}</div>
                                <div> Nom : {{ user.lastname }}</div>
                                <div> Téléphone : {{ user.phone }}</div>
                                <div> Email : {{ user.email }}</div>
                                <div> Campus : {{ user.campus.name }}</div>
                            </div>
                        {% endif %}

                        <a href="{{ path('activity_home') }}">Retourner à la page d'accueil</a>
                    </div>
                </div>

        </div>

    </div>


{% endblock %}



